@import "~bulma/sass/utilities/initial-variables";

// Config vars
// blog logo brand color: #FD461E
$primary: #111111;
$primary-light: #666ad1;
$primary-dark: #001970;
$primary-invert: #fff;
$black: #111111;

$secondary: #7b1fa2;
$secondary-light: #ae52d4;
$secondary-dark: #4a0072;
$secondary-invert: #fff;
$body-color: #000;
$notification-padding: 1.25rem;
$notification-padding-ltr: 1.25rem;
$notification-padding-rtl: 1.25rem;

.site-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.main {
  image-rendering: optimizeQuality;
  flex: 1;
}
.navbar .navbar-menu {
  box-shadow: none !important;
}
.content .taglist {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  li {
    padding: 0 10px 5px 0;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
// Helper Classes
}
.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 2em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-width-image {
  width: 100vw;
  height: 400px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top-0 {
  margin-top: 0 !important;
}
.navbar-item .icon {
  color: $primary;
}// Override for use of svg's from https://simpleicons.org/
.icon svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}
.navbar-brand .navbar-item.logo {
  padding: 0 1rem;
}

//Menu overrides
$menu-item-color: $white-ter;
$menu-item-hover-color: $black !important;
$menu-item-hover-background-color: $black;
$menu-item-active-color: $primary-invert;
$menu-item-active-background-color: $primary-invert;
$menu-list-border-left: 1px solid $primary-invert;
$menu-label-color: $white-ter;

.menu-label {
  font-size: 1em !important;
  text-align: left;
}
.menu-list {
  list-style: none !important;
  text-align: left;
}
// blog roll
.blog-list-item {
  width: 100%;
  max-width: 894px;
  display: block;
}
.blog-list-item.is-featured {
  background-color: $primary-light;
}
.blog-list-item header {
  margin-bottom: 1em;
}
.social {
  padding: 2em;
}

.social a {
  padding: .5em .5em .3em .5em;
  margin: .25em;
  vertical-align: middle;
  display: inline;
}

.section-index {
  padding-bottom: 0px !important;
}

@import "~bulma";

@include mobile {
  .blog-list-item header {
    display: block !important;
  }
  .blog-list-item .featured-thumbnail {
    text-align: center;
    margin: 0 0 1em;
  }
}

.gatsby-highlight pre[class*="language-"].line-numbers {
  padding-left: 2.8em;
}

/**
 * If you only want to use line numbering
 */

.gatsby-highlight {
  background-color: #1e1e1e;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

.gatsby-highlight pre[class*="language-"].line-numbers {
  padding: 0;
  padding-left: 2.8em;
  overflow: initial;
}

.command-line-prompt > span:before {
  color: #999;
  content: " ";
  display: block;
  padding-right: 0.8em;
}

.command-line-prompt > span[data-user]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] $";
}

.command-line-prompt > span[data-user="root"]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] #";
}

.command-line-prompt > span[data-prompt]:before {
  content: attr(data-prompt);
}

.number {
  align-items: revert;
  background-color: revert; 
  border-radius: revert; 
  display: revert; 
  font-size: revert; 
  height: revert; 
  justify-content: revert; 
  margin-right: revert; 
  min-width: revert; 
  padding: revert; 
  text-align: revert; 
  vertical-align: revert; 
}